body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #313131;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  flex: 0 0 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  align-items: center;
  display: flex;
}

.footer {
  flex: 0 0 50px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
  align-items: center;
  display: flex;
}

.btn {
  background: #03a9f4;
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  &:hover{
    background: #039be5;
  }
  &_error{
    background: #ff5722;
    &:hover{
      background: #e64a19;
    }
  }
}

.block{
  padding: 20px;
  box-shadow: 0 0 4px gray;
  margin: 0 0 50px 0;
}

.settings{
  display: flex;
  justify-content: space-between;
  &__element{
    flex: 0 0 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.main {
  flex: 1 1 100%;
  padding: 30px 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  &__content {
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__img {
    width: 250px;
    height: 250px;
    margin: auto;
  }
}

.error {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(255,255,255,.6);
  &__content{
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 0 0 4px #ff5722;
    background: #fff;
  }
}
